* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  text-size-adjust: 100%;

}

body {
  padding: 32px;
  max-width: 2400px;
  margin: 0 0px;
}

.row {
  width: 100%;
  max-width: 2400px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
}

.fa-times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 24px;
  color: #747880;
  font-weight: 300;
  position: relative;
  margin: 0 auto;
}

.padding__container {
  padding: 96px 0;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}

ul {
  list-style: none;
}

h3 {
  font-size: 18px;
  color: #2d2e30;
}

h4 {
  font-size: 16px;
  color: #717882;
}

.purple {
  color: #6415FF;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

/*BURGER MENU*/


.btn__menu {
  color: #7342d6;
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;

}


.btn__menu--close {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 8px;
  color: white;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 40px;
  color: white;
}

.menu__list {
  padding: 32px 0;
}


/*NAVIGATION*/

.nav__container {
  width: 100%;
}

.nav__row {
  margin: 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger__wrapper {
  display: none;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
}

.Logos {
  width: 80%;
}

.logo__img {
  height: 40px;
  width: auto;
}

.logo__img:hover {
  transition: all 400ms ease;
  color: #270961;
}



.treact__link {
  font-weight: bold;
  text-decoration: solid;
  font-size: 24px;
  color: rgb(59, 59, 95);
  margin-left: 10px;
}

.treact__link:hover {
  transition: all 400 ease;
  color: #6415FF;
}

.nav__links {
  display: flex;
  align-items: center;
}

.sign-up__btn--wrapper {
  background-color: white;
}

.sign-up__btn {
  background-color: #6415FF;
  color: white !important;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px; 
  text-decoration: none;
  margin-left: 20px; 
}

.nav__links a {
  color: #395680;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  right: 0;
  bottom: -3px;
  transition: all 400ms ease;
}

.link__hover-effect--black:after {
  background-color: black;
}

.nav__link-anchor:hover {
  color: #270961;
  transition: all 300ms ease;

}
.nav__link-anchor {
  padding: 0 48px;
}

.sign-up__anchor:hover {
  background-color: #270961;
  transition: all 400ms ease;  
}

.sign-up__anchor {
  display: flex;
  align-items: center;
  color: whitesmoke;
  border-radius: 100px;
  padding: 14px 32px;
  background-color: #6415FF;
}

/*  HEADER  */

.header__contianer {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__row {
  margin: 0 2%;
}

h1 {
  color: #2d2e30;
}

.p1 {
  color: #505255;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-top: 36px;
}

.p2 {
  color: #d0d6df;
  margin-top: 104px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: bolder;
}

.get-started {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px;
  border: 3px solid #d0d6df;
  border-radius: 56px;
}

.btn:hover {
  background-color: #270961;
  transition: all 400ms ease; 
}

.btn {
  font-weight: bold;
  font-size: 16px;
  padding: 14px 24px;
  color: white;
  background-color: #6415FF;
  border-radius: 48px;
}

.get-started__email {
  color: #ffffffc2;
  font-weight: bold;
  border: none;
  font-size: 16px;
  margin-left: 24px;

}


.email__imput {
  margin-left: 24px;
  border: none;
  width: 50%;
  height: 64px;
}

.header__sections {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__section {
  width: 45%;
  display: flex;
  flex-direction: column;
}

/*LANDING*/

.landing__img--wrapper {
  margin-left: 36px;
  width: 55%;

}

.landing__img {
  width: 100%;
}

.head__img {
  margin-left: 24px;
}

/*features*/

.features__container {
  padding: 72px 0;
  margin: 0 64px;
}

.title {
  color: #6415FF;
  font-weight: bold;
  font-size: 24px;
  display: flex;
}

.title__description {
  font-size: 24px;
  font-weight: 400;
  width: calc(100%/3);
  padding: 24px 0;

}

/* Services */

.services__row {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.service__wrapper {
display: flex;
align-items: center;
padding: 24px 24px;
}

.subtitle {
  font-size: 24px;
  color: #2d2e30;
  margin-left: 28px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-left: 28px;
}

.service__img {
  width: 36px;
}

.service__img--wrapper {
  border: 2px solid #7478806c;
  border-radius: 100px;
  padding: 8px 10px;
}


/*QUALITY WORK*/

.body__img {
  width: 100%;
}

.work__section {
  width: 40%;
}

.body__img--wrapper {
  width: 60%;
  margin-top: 56px;
  padding: 0 48px;
}

/*STEPS TO START*/

.steps__row {
  width: 100%;
  max-width: 2400px;
}

.steps__img--wrapper {
  width: 50%;
  height: 100%;
  position: relative;
}

.steps__img {
  width: 100%;
  max-width: 636px;
}

.steps__section {
  display: flex;
}

.steps__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 24px;
}


.info__title {
  font-size: 24px;
  font-weight: bold;
}

.list__items {
  font-size: 32px;
  font-weight: bold;
  color: #414346;
  margin-bottom: 12px;
}

.list__number {
  font-size: 48px;
  color: #afb3bb;
  font-weight: bold;
}


.list {
  display: flex;
  margin-right: 24px;
  padding-top: 12px;
}

.list__description {
  padding: 0 24px;
  line-height: 1.5;
}

.list__para {
  color: #71757a;
  font-weight: 400;
}

.info__subtitle {
  font-weight: 600;
  font-size: 42px;
}


/*VALUES*/

.values {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  padding-top: 12px;
  width: 50%;
}

.values__container {
  display: flex;
  flex-direction: column;
}

.work__img--wrapper {
  width: 50%;
  margin-left: 48px;
}



.values__img {
  width: 100%;
}

.values__description {
  padding: 0 24px;
  line-height: 1.5;
}

.values__para2,
.values__para {
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: #71757a;
  font-weight: 400;
}

.values__items {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  color: #414346;
  margin-bottom: 12px;
}


.fa-dollar-sign {
  font-size: 16px;
  background-color: #9AE6B4;
  border: solid #9AE6B4 4px;
  border-radius: 100%;
  padding: 12px 16px;
}

.suitcase__wrapper {
  display: flex;
}

.money__wrapper {
  display: flex;
}


.fa-suitcase {
  background-color: #FEB2B2;
  font-size: 16px;
  border: solid #FEB2B2 4px;
  border-radius: 100%;
  padding: 12px 12px;

}

/*PRICING*/

.pricing__title {
  font-size: 32px;
  font-weight: 600;
}

.pricing__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pricing__plans {
  max-width: 380px;
  margin-bottom: 20px;
  border-radius: 34px;
  margin-top: 32px;
  text-align: center;

}

.pricing__plans__section-1 {
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding: 24px 0;

  
}

.pricing__plans__section-2 {
  display: flex;
  flex-direction: column;
  line-height: 3;
  border-top: solid #b8babe33 4px;
  border-bottom: solid #b8babe49 4px;
  padding: 24px 12px;
}

.pricing__plans__section-3 {
  padding: 64px 0;
}

.personal__subtitle {
  font-size: 24px;
  font-weight: bold;
}

.price__subtitle {
  font-size: 48px;
  font-weight: bold;
}

.monthly__subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #140f0f7d;
}

.persons__subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #140f0fc2;
}

.descriptions__subtitle {
  font-size: 18px;
  font-weight: bold;
  color: #140f0fc2;
}

.buy--now--personal__btn {
  padding: 24px 64px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffffcb;
  border-radius: 56px;
  background: linear-gradient(to left, #51d4a9, #80e7c8);
}

.buy--now--business__btn {
  padding: 24px 64px;
  font-size: 24px;
  color: #6415FF;
  font-weight: bold;
  border-radius: 56px;
}

.buy--now--enterprise__btn {
  padding: 24px 64px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffffcb;
  background: linear-gradient(to right, rgb(245, 101, 101), rgb(254, 178, 178));
  border-radius: 56px;
  
}

.personal--plan__bar {
  background: linear-gradient(to left, #51d4a9, #e7eee7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.personal--plan__container,
.business--plan__container,
.enterprise--plan__container {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.personal--plan__container {
  position: relative;
  border: solid #b8babe1c 3px;
  border-radius: 18px;
}

.business--plan__container {
  background: linear-gradient( 115deg, rgb(60, 49, 212) 0%, rgb(87, 133, 194) 100%);
  border-radius: 24px;
  border: solid #b8babe 1px;
}

.enterprise--plan__bar {
  background: linear-gradient(to right, rgb(245, 101, 101), rgb(254, 178, 178));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}


.enterprise--plan__container {
  position: relative;
  border: solid #b8babe1c 3px;
  border-radius: 18px;
}

.business__subtitle,
.business--price__subtitle,
.business--monthly__subtitle,
.busniess--descriptions__subtitle,
.business--persons__subtitle {
  color: white;
}


/*TESTIMONIALS*/


.testimonials__container {
  margin: 10% 10%;
}

.testimonials__row {
  display: flex;
  padding: 96px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 2800px;
}

.clients__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 65%;
  padding: 0 0;
}

.heats__img__wrapper {
  width: 35%;
  margin-right: 24px;
}

.hearts__img {
  width: 80%;
  height: 100%;
}




.testimonials__description {
  padding: 18px 0;
  font-size: 20px;

}

.testimonial__statement {
  color: #253853;
  font-size: 28px;
  padding: 36px 0 0 0;
}

.charlotte__statement {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.charlotte__statement {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.charlotte__statement.slide-in {
  animation: slideIn 0.5s forwards;
}



.adam__img {
  width: 96px;
  border-radius: 72px;
}

.client {
  display: flex;
  align-items: center;

}

.client__id {
  width: 50%;
  margin-left: 36px;

}

.client__btns {
  width: 50%;
  margin-left: 56px;
}

.arrow__btn {
  cursor: pointer;
  width: 56px;
  padding: 16px 4px;
  margin-left: 12px;
  border-radius: 56px;
  background-color: #e2e4eb8c;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 22px;
}

.fa-star {
  margin-top: 24px;
  font-size: 16px;
}

.testimonials__purple {
  font-size: 26px;
  font-weight: 700;
}

/*FAQS*/

.faqs__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.65;
}

.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  justify-content: space-between;
  background-color: #e5e7eba2;
  border-radius: 24px;
  margin-bottom: 24px;
  width: 100%;
}

.question__subtitle {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #303133;
  margin-left: 5%;
  font-weight: 500;
  position: relative;
}

.dropdown__tab {
  margin-right: 36px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.671);
  position: relative;
  cursor: not-allowed;
}

.faqs-title__description {
  width: calc(100%/3);
  padding: 24px 0;
  font-size: 24px;
}

.faqs--title {
  font-size: 64px;
}

/*subfooter*/

.subfooter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 196px 0;

}

.subfooter__row {
  padding: 72px 0;
  border-radius: 12px;
  background-color: #6415FF;
  display: flex;
  justify-content: space-between;
}

.description__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 42px 56px;

}

.subfooter__description {
  color: white;
  font-size: 1.675rem;
  font-weight: 700;
}

.btns__wrapper {
  display: flex;
  
}

.get--started-2__btn {
  padding: 20px 40px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, rgb(243, 58, 58), rgb(207, 69, 69));
  border-radius: 56px;
  margin-right: 32px;
}

.get--started-2__btn:hover {
  background-color: black;
  transition: all 400ms ease;
}

.contact--us-2__btn {
  padding: 20px 40px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 56px;
  border: solid whitesmoke 1px;
  background-color: #6415FF;
  margin-right: 24px;
}

/*FOOTER*/

.footer__container {
  background-color: #6415FF;
  border-bottom: solid #b0b5be62 3px;
}

.footer__row {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 96px 0;
  line-height: 2.5;
  font-size: 24px;
}

.footer__column__subtitle {
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 18px;
}

.footer__column__list--item {
  font-size: 16px;
}

/*LEGAL*/

.legal__container {
  background-color: #6415FF;
}

.legal__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 243px;

  padding-bottom: 12px;

}

.company__logo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.legal__company__logo--wrapper {
  background-color: white;
  max-width: 40%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
  margin-left: 24px;

}

.legal__company__logo {
  height: 60px;
  width: 100%;
  position: relative;
}

.treact--inc__title {
  font-size: 36px;
  font-weight: 700;
  padding-left: 24px;
}

.copyright {
  font-size: 22px;
  color: #b8babe;
  font-weight: 600;
}

.fa-facebook-f {
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  color: #395680;
  padding: 20px 24px;
  margin-right: 24px;
}

.fa-twitter {
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  color: #395680;
  padding: 22px 22px;
  margin-right: 24px;
}

.fa-youtube {
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  color: #395680;
  padding: 22px 22px;
  margin-right: 24px;
}

/* SMALL PHONES, TABLETS AND LARGE PHONES */

@media (max-width: 728px) {
  body {
    margin: 12px;
    max-width: 546px;
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  .logo__img {
    width: 42px;
  }

  .treact__link {
    font-size: 24px;
  }

  .p2 {
    margin: 36px 0;
  }

  .btn__menu {
    display: block;   

  }

  .btn__menu {
    background-color: rgba(255, 255, 255, 0);

  }

  .fa-bars:hover {
    transition: all 400ms ease;
    color: #270961;
    
  }

  .fa-bars {
   font-size: 32px;
   color: #6415FF;
  }

  .nav__links,
  .sign-up__btn {
    display: none;
  }

  .header__sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 524px;
  }

.header__section {
  width: 100%;
}


  h1 {
    font-size: 24px;
  }

  .p1 {
    font-size: 14px;
    margin-top: 12px;
  }

  .get-started {
    width: 80%;
  }

  .get-started__email{
    font-size: 12px;
    margin-left: 2px;

  }

  .get-started__btn {
    width: 72px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partners__logos {
    display: flex;
    flex-direction: column;
  }

  .p2 {
    font-size: 12px;
    text-align: left;
  }

  .landing__img {
    width: 100%;
  }


  /*FEATURES MEDIA*/


  .title {
    font-size: 24px;
  }

  .title__description {
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin: 0 1px;
  }


  /*SERVICES MEDIA*/


  .services__row {
    display: grid;
    grid-template-columns: repeat(2,3fr);
  }

  .service__wrapper {
    width: 50%;
    padding: 24px;
  }

  .subtitle {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .service__img {
    width: 42px;
  position: relative;
  }

  .service__img--wrapper {
  padding: 0 3px;
  border-radius: 56px;
  }

  /*QUALITY WORK*/

    
   .work__container {
    display: flex;
    flex-direction: column-reverse;
   }

   .work__img--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .body__img {
    width: 100%;
   }

   .info__title {
     font-size: 16px;
   }

   .working__subtitle {
     font-size: 24px;
   }

   .work__section {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
   }

  .steps__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__container {
    width: 100%;
  }

  .steps__img--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .steps__img {
    width: 100%;
    margin-bottom: 36px;
  }

  .info__subtitle {
    font-size: 32px;
    margin-bottom: 12px ;
  }
  
  .list__number {
    font-size: 32px;
  }

  .list {
    margin-top: 18px;
  }

  .list__items {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .list__para {
    font-size: 14px;
    max-width: 240px;
  }

  .padding__container {
    padding: 24px 0;
  }


  /*values media*/


  .values__items {
    font-size: 18px;
  }

  .values__para {
    font-size: 16px;
  }

  .values__para2 {
    font-size: 16px;
  }

  .work__img--wrapper {
    width: 75%;
    margin-top: 36px;
  }

  .values__img {
    width: 100%;
  }


  /*PRICING*/

  .pricing__plans__section-1,
  .pricing__plans__section-2,
  .pricing__plans__section-3 {
    max-width: 426px;
  }

  .pricing__plans {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 326px;
  }



  .personal__subtitle {
    font-size: 20px;
  }

  .price__subtitle {
    font-size: 24px;
  }

  .monthly__subtitle {
    font-size: 16px;
  }

  .persons__subtitle {
    font-size: 24px;
  }

  .descriptions__subtitle {
    font-size: 18px;
  }



  .pricing {
    padding: 48px 12px;
  }


  /*TESTIMONIALS MEDIA*/


  .testimonials__row,
  .clients__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 1.5;
  }

  .client__testimonials {
    width: 50vh;
  }

  .hearts__img {
    width: 100%;
  }

  .testimonials__purple {
    font-size: 20px;
    margin-top: 36px;
  }

  .testimonials__description {
    width: 150%;
    max-width: 524px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
    margin-bottom: 24px;
    margin: 0 0;

  }

  .testimonial__statement {
    font-size: 18px;
    padding: 0;
    width: 50vh;
  }

  .fa-star {
    font-size: 14px;
  }

  .adam__img {
    width: 56px;
  }

 

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  p1 {
    width: 100%;
  }

  .client {
    width: 60vw;
  }

  .client__id {
    display: flex;
    flex-direction: column;
  }

  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 16px;
  }

  .arrow__btn {
    width: 2.5vh;
    height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  .client__btns {
    display: flex;
    margin-left: 56px;
    
  }


/*FAQS MEDIA*/


  .faqs-title__description {
    font-size: 18px;
  }

  .faqs__container {
    width: 100%;
  }

  .faqs__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .question

  .question {
    display: flex;
    justify-content: space-between;
  }

  .question__subtitle {
    font-size: 16px;
  }

  .fa-caret-down {
    font-size: 18px;
    margin-right: 24px;
  }


/*SUBFOOTER MEDIA*/


.description__wrapper {
  flex-wrap: wrap;
}

.subfooter__row {
  padding: 36px;
}

.subfooter__description {
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.btns__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 24px;
}

.get--started-2__btn {
  margin-bottom: 12px;
  padding: 12px 12px;
}

/*FOOTER MEDIA*/

  

  .footer__column__subtitle {
    font-size: 12px;
  }

  .footer__container {
    width: 100%;
  }

  .footer__column__list--item {
    font-size: 10px;
  }


/*LEGAL MEDIA*/


  .legal__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
  }

  .treact--inc__title {
    font-size: 24px;
    padding: 0 6px;
  }

  .copyright {
    font-size: 16px;
  }

  .fa-brands__wrapper {
    display: flex;
  }

  .fa-youtube {
    font-size: 18px;
    padding: 12px 12px;
  }

  .fa-twitter {
    font-size: 18px;
    padding: 12px 12px;
  }

  .fa-facebook-f {
    font-size: 18px;
    padding: 12px 16px;
  }

  .copyright--stuff {
   text-align: center;
  }

  .legal__company__logo {
    width: 5vh;
    height: 5vh;
  }
  
}

@media (max-width: 1080px) {

  .working__subtitle {
    font-size: 32px;
  }

  .pricing__container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 524px;
  }


  .title__description {
    width: 100%;
  }

  .personal__subtitle {
    font-size: 20px;
  }

  .price__subtitle {
    font-size: 24px;
  }

  .monthly__subtitle {
    font-size: 16px;
  }

  .persons__subtitle {
    font-size: 20px;
  }

  .descriptions__subtitle {
    font-size: 14px;
  }



  .pricing {
    padding: 48px 12px;
  }

  .description__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
  }

  .footer__column__subtitle {
    font-size: 12px;
  }

  .footer__container {
    width: 100%;
  }

  .footer__column__list--item {
    font-size: 10px;
  }

  .subfooter__row {
    display: flex;
    justify-content: center;

  }

  .subfooter__description {
    font-size: 24px;
  }


  .get--started-2__btn {

    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 36px;
  }

  .contact--us-2__btn {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 36px;
  }

  .testimonials__row,
  .clients__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 1.5;
  }

  .client__testimonials {
    width: 50vh;
  }

  .hearts__img {
    width: 100%;
  }

  .testimonials__purple {
    font-size: 20px;
    margin-top: 36px;
  }

  .testimonials__description {
    width: 150%;
    max-width: 524px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
    margin-bottom: 24px;
    margin: 0 0;

  }

  .testimonial__statement {
    font-size: 18px;
    padding: 0;
    width: 50vh;
  }

  .fa-star {
    font-size: 14px;
  }

  .adam__img {
    width: 56px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  .client {
    width: 60vw;
  }

  .client__id {
    display: flex;
    flex-direction: column;
  }

  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 16px;
  }

  .arrow__btn {
    width: 2.5vh;
    height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  .client__btns {
    display: flex;
    margin-left: 56px;
    
  }

}

@media (max-width: 500px) {

  .services__row {
   display: flex;
   flex-direction: column;
  }

  .service__wrapper {
    width: 100%;
    padding: 24px;
  }

  .get-started {
    display: none;
  }
}
